.table {
    margin-top: 20px;
    overflow: scroll;
    height: 400px;
    color: white;
    padding: 20px;
}

.table::-webkit-scrollbar {
    display: none;
}

.table_flag {
    height: 15px;
    width: 15px;
    margin-right: 10px;
    object-fit: contain;
}

.table_stats {
    margin-left: 10px;
    color: #d70040;
}

.table tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table td {
    padding: 0.5rem;
}
